body {
  font-family: Roboto, sans-serif;
}

header {
  padding: 20px 0;
}

header .row
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(./bg-img.jpg); 
  background-size: cover;
  color: #ffffff;
  height: 800px;
}
